[user]
	name = Kim H Madsen
	email = khm@deif.com
[gui]
	encoding = utf-8
[core]
	editor = vim 
	#autocrlf = false
	#autocreol = false
[push]
	default = simple
[alias]
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	last = log -1 HEAD
[diff]
	#tool = bc3
[difftool]
	#prompt = false
[difftool "bc3"]
	#cmd = \"c:/program files (x86)/beyond compare 3/BCompare.exe\" "$(cygpath -w $LOCAL)" "$REMOTE"

